################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WaveDev.RoomsReservationSystemDemo/bin/Debug
/WaveDev.RoomsReservationSystemDemo/obj/Debug
